{{set . "title" "GTS"}}
{{template "header.html" .}}

<header class="navigation" style="background-color:#acadae">

  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Geological Time Scale</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="">
    <pre>{{template "timeline.txt" .}}</pre>
  </div>

  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
